<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Addons</key>
	<string>AndroidTest.Windows.Windows8.Windows8RT.pro</string>
	<key>Answer</key>
	<string>1143136907</string>
	<key>Email</key>
	<string>Sajid.sarker@gmail.com</string>
	<key>License Type</key>
	<string>Full</string>
	<key>Name</key>
	<string>Sajid.sarker@gmail.com</string>
	<key>Pass Phrase</key>
	<string>5b2747beb8cbe0149002040ea595a86d</string>
	<key>Product</key>
	<string>GameMaker:Studio</string>
	<key>Signature</key>
	<data>
	YVk5LJ6i7vOKSDACbDqpWJVCsZDplWsYGwasNYGFKNMcKq7GWoGokGDjs8kIsQNxKm5C
	AYBFSYMBg27sSEpOlHILdBqCyJO49Mi89RT+cY3xNSJu9dQfC/jb0NP0uOwV+F2uNHkN
	CmKdayN967UMxS6q0N3zlnN+uKeoyELwMfM=
	</data>
</dict>
</plist>
